/**
 * FILEDESCRIPTION
 *
 * Some guidelines to follow:
 *
 * 1. Break code down into sections, use @section, @subsection
 * 2. Keep your rules alphabetically sorted.
 * 3. Only put one selector per line for a block of rules that apply to multiple selectors.
 * 4. Indent your rules, only one rule per line.
 * 5. Keep proprietary properties directly below the proposed property.
 * 6. Comment your css. Especially hacks or tricky parts using cssdoc-comments
 *
 * @example:
 *
 * element#id,
 * element.class {
 * 	rule1: value;
 * 	-webkit-rule2: value;
 * 	-moz-rule2: value;
 * 	rule2: value;
 * 	top: value;
 * }
 *
 * @lastmodified	2012-01-24 18:00 martinkr
 *
 * @TODO
 *
 */

/**
* Prevent iOS text size adjust on device orientation change, without disabling user zoom:
* http://www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
*/
html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

/**
* @section minor ios adjustemnts
*/

 /**
 * allow styling of clickable form elements in iOS
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
}

/*******/

@media screen and (max-width: 801px)  {

	header {
			margin-top: -100px;
	}

}

@media screen and (max-width: 601px)  {

	header {
			margin-top: -150px;
	}

}

@media screen and (max-width: 481px)  {

	header {
		margin-top: -100px;
		font-size: 18px;
		line-height: 1.2;
		margin-left: -152px;
	}

	h1 {
		color: #2288cf;
		font-size: 45px;
		letter-spacing: 0.025em;
		font-weight: 700;


	}

	h2 {
		font-size: 25px;
		color: #909090;
		font-size: 18px;
		font-weight: 400;
		letter-spacing: 0.025em;
		font-family: 'Oswald', sans-serif;

	}

}


@media screen and (max-width: 321px)  {

	header {
		margin-top: -100px;
		font-size: 16px;
		line-height: 1.2;
		margin-left: -135px;
	}

	h1 {
		color: #2288cf;
		font-size: 40px;
		letter-spacing: 0.025em;
		font-weight: 700;


	}

	h2 {
		font-size: 25px;
		color: #909090;
		font-size: 16px;
		font-weight: 400;
		letter-spacing: 0.025em;
		font-family: 'Oswald', sans-serif;

	}
}