/**
 * FILEDESCRIPTION
 *
 * Some guidelines to follow:
 *
 * 1. Break code down into sections, use @section, @subsection
 * 2. Keep your rules alphabetically sorted.
 * 3. Only put one selector per line for a block of rules that apply to multiple selectors.
 * 4. Indent your rules, only one rule per line.
 * 5. Keep proprietary properties directly below the proposed property.
 * 6. Comment your css. Especially hacks or tricky parts using cssdoc-comments
 *
 * @example:
 *
 * element#id,
 * element.class {
 * 	rule1: value;
 * 	-webkit-rule2: value;
 * 	-moz-rule2: value;
 * 	rule2: value;
 * 	top: value;
 * }
 *
 * @lastmodified	2012-01-24 18:00 martinkr
 *
 * @TODO
 *
 */

/**
* @section
*/


.project_audi-nemo-1 {
	background: url('../../img/projects/2013-audi-nemo/overview_590x332.jpg') 0 0 no-repeat;
}
.project_audi-nemo-2 {
	background: url('../../img/projects/2013-audi-nemo/detail_1_290x332.jpg') 0 0 no-repeat;
}


.project_audi-rs-models-1 {
	background: url('../../img/projects/2013-audi-rs-models/overview_590x332.jpg') 0 0 no-repeat;
}
.project_audi-rs-models-2 {
	background: url('../../img/projects/2013-audi-rs-models/detail_1_290x332.jpg') 0 0 no-repeat;
}
.project_audi-rs-models-3 {
	background: url('../../img/projects/2013-audi-rs-models/detail_2_290x332.jpg') 0 0 no-repeat;
}
.project_audi-rs-models-4 {
	background: url('../../img/projects/2013-audi-rs-models/detail_3_290x332.jpg') 0 0 no-repeat;
}
.project_audi-rs-models-5 {
	background: url('../../img/projects/2013-audi-rs-models/detail_4_290x332.jpg') 0 0 no-repeat;
}

.project_audi-a3-sportback-1 {
	background: url('../../img/projects/2012-audi-a3-sportback/overview_590x332.jpg') 0 0 no-repeat;
}
.project_audi-a3-sportback-2 {
	background: url('../../img/projects/2012-audi-a3-sportback/detail-mmi_290x332.jpg') 0 0 no-repeat;
}
.project_audi-a3-sportback-3 {
	background: url('../../img/projects/2012-audi-a3-sportback/detail-frame_290x332.jpg') 0 0 no-repeat;
}
.project_audi-a3-sportback-4 {
	background: url('../../img/projects/2012-audi-a3-sportback/detail_safety-1_290x332.jpg') 0 0 no-repeat;
}
.project_audi-a3-sportback-5 {
	background: url('../../img/projects/2012-audi-a3-sportback/detail_safety-2_290x332.jpg') 0 0 no-repeat;
}


.project_palmengarten-1 {
	background: url('../../img/projects/2011-palmengarten/overview_590x332.jpg') 0 0 no-repeat;
}
.project_palmengarten-2 {
	background: url('../../img/projects/2011-palmengarten/detail_butterfly_290x332.jpg') 0 0 no-repeat;
}
.project_palmengarten-3 {
	background: url('../../img/projects/2011-palmengarten/detail_summer-plant_290x332.jpg') 0 0 no-repeat;
}
.project_palmengarten-4 {
	background: url('../../img/projects/2011-palmengarten/detail_summer-plant_590x332.jpg') 0 0 no-repeat;
}
.project_palmengarten-5 {
	background: url('../../img/projects/2011-palmengarten/detail_loader_290x332.jpg') 0 0 no-repeat;
}
.project_palmengarten-6 {
	background: url('../../img/projects/2011-palmengarten/detail_crysantheme_290x332.jpg') 0 0 no-repeat;
}
.project_palmengarten-7 {
	background: url('../../img/projects/2011-palmengarten/detail_navigation_290x332.jpg') 0 0 no-repeat;
}


.project_pattex-gravity-1 {
	background: url('../../img/projects/2011-pattex-gravity/overview_590x332.jpg') 0 0 no-repeat;
}
.project_pattex-gravity-2 {
	background: url('../../img/projects/2011-pattex-gravity/detail_cta_290x332.jpg') 0 0 no-repeat;
}


.project_audi-brand-portal-1 {
	background: url('../../img/projects/2008-audi-brand-portal/overview_590x332.jpg') 0 0 no-repeat;
}
.project_audi-brand-portal-2 {
	background: url('../../img/projects/2008-audi-brand-portal/detail_tt_290x332.jpg') 0 0 no-repeat;
}


