@charset "UTF-8";
/**
 * Razorfish PLD-Library: simple reset
 *
 * Two generic whitespace reset rules
 * For more advanced css resets @see advanced-reset.css
 *
 * Default settings for:
 * - html background & color
 * - .clear: clear: both;
 * - .clearfix: clear using generated content (css content property)
 * - .floatbox: clear using overflow
 * - .floatLeft
 * - .floatRight
 * - .floatNone
 *
 * Document *any* changes properly and set lastauthor / lastmodified / changelog .
 *
 * Some guidelines to follow:
 *
 * 1. Break code down into sections, use @section, @subsection
 * 2. Keep your rules alphabetically sorted.
 * 3. Only put one selector per line for a block of rules that apply to multiple selectors.
 * 4. Indent your rules, only one rule per line.
 * 5. Keep proprietary properties directly below the proposed property.
 * 6. Comment your css. Especially hacks or tricky parts using cssdoc-comments
 *
 * @example:
 *
 * element#id,
 * element.class {
 * 	rule1: value;
 * 	-webkit-rule2: value;
 * 	-moz-rule2: value;
 * 	rule2: value;
 * 	top: value;
 * }
 *
 * @version			2.0
 *
 * @lastmodified	2012-02-06 18:00 martinkr
 *
 * @TODO
 *
 * @Changelog:
 *
 */


/**
 * @section whitespace reset
 * just two generic reset rules.
 * @see advanced-reset.css for more
 */
* {
	margin:0;
	padding: 0;
}

/**
* @section html default background
*/
html {
	/* http://www.zeldman.com/2008/11/07/is-your-websites-underwear-showing/ */
	background:#FFF;
	color:#000;
}


/**
 * Generic clearing classes
 *  - .clear: clear: both;
 *  - .clearfix: clear using generated content (css content property)
 *  - .floatbox: clear using overflow
 * @section clearing
  */

/**
 * @subsection .clear
 * @see http://www.positioniseverything.net/easyclearing.html
 */

.clear {
	clear: both;
}

/**
 * .clearfix
 * @subsection .clearfix
 * @see  http://www.456bereastreet.com/archive/200603/new_clearing_method_needed_for_ie7/#comment28
 */
.clearfix:after {
	content: ".";
	display: block;
	font-size: 0;
	height: 0;
	clear: both;
	visibility: hidden;
}

/**
 * .clearfix
 * @css-for safari
 */
.clearfix {
	display: block;
}

/**
 * .clearfix
 * add hasLayout for IE
 *
 * @workaround
 * @see			http://www.456bereastreet.com/archive/200603/new_clearing_method_needed_for_ie7/#comment28
 * @affected	IE6, IE7
 * @css-for		IE6, IE7
 * @see http://www.satzansatz.de/cssd/onhavinglayout.html#reset
 * The display-property differs:
 * while ‘inline-block’ sets haslayout = true,
 * the flag will not be reset to false later on by overriding the value with
 * ‘block’ or ‘inline’ in another rule set”.
 * */
.clearfix {
	display: inline-block;
}
.clearfix {
	display: block;
}

/**
 * .clearfix
 * add hasLayout for IE6
 * @deprecated
 * @affected	IE6
 * @css-for		IE6
 *
*/
/* html .clearfix {
	zoom: 1;
	height: 1%;
}
 */

/**
 * .floatbox
 * @subsection .floatbox
 * @see        http://www.sitepoint.com/blogs/2005/02/26/simple-clearing-of-floats/
 * @see http://annevankesteren.nl/2005/03/clearing-floats
 */
.floatbox {
	overflow: hidden;
	/* overflow:auto; */
}
/**
 * .floatbox
 * @workaround
 * @affected   IE6
 * @css-for    IE6
 */
 * html .floatbox {
	width: 100%;
	height: 100%
}
/**
 * .floatbox
 * @workaround
 * @affected	IE7
 * @css-for 	IE7
 */
* + html .floatbox {
	width: 100%;
	height: 100%
}


/**
* @section default float classes
* .floatLeft
* .floatRight
* .floatNone
*/
.floatLeft {
	float: left ! important ;
}

.floatRight {
	float: right ! important ;
}

.floatNone {
	float: none ! important;
}


