/**
 * FILEDESCRIPTION
 *
 * Some guidelines to follow:
 *
 * 1. Break code down into sections, use @section, @subsection
 * 2. Keep your rules alphabetically sorted.
 * 3. Only put one selector per line for a block of rules that apply to multiple selectors.
 * 4. Indent your rules, only one rule per line.
 * 5. Keep proprietary properties directly below the proposed property.
 * 6. Comment your css. Especially hacks or tricky parts using cssdoc-comments
 *
 * @example:
 *
 * element#id,
 * element.class {
 * 	rule1: value;
 * 	-webkit-rule2: value;
 * 	-moz-rule2: value;
 * 	rule2: value;
 * 	top: value;
 * }
 *
 * @lastmodified	2012-01-24 18:00 martinkr
 *
 * @TODO
 *
 */

/**
* @section
*/


html,
body {
	height: 100%;
	background : #FEFEFE;
}
body {
	text-align: center;
	font-size: 16px;
	color: #000;
	line-height: 1.5;
	font-family: Georgia;
}

/** elements **/


a {
	-webkit-transition: all 0.25s ease-in;
}

a,
a:link,
a:visited,

.intro.has-color a,
.intro.has-color a:link,
.intro.has-color a:visited {
	color: #2288cf;
	text-decoration: none;
}

a:hover,
a:active,
.intro.has-color a:hover,
.intro.has-color a:active {
	color: #214ECF;
	text-decoration: none;
}


ul,li {display: inline-block;}


/**
 * headline colors
 */
h1 {
	color: #2288cf;
}

h2 {
	color: #909090;
}

header .sticky h2 {
 	color: #222;
}

/*#projects */h3 {
 	color: #2288cf;
}

/*#projects */h4 {
 	color: rgba(144, 144, 144, 1);
}

/**
 * typography
 */

h1 {
	font-family: 'Source Sans Pro';
	text-transform: uppercase;
 	font-size: 76px;
	line-height: 1.1;
	font-weight: 700;
 	letter-spacing: 5px;
	text-rendering: optimizelegibility;
}

h2 {
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	line-height: 1.1;
	letter-spacing: 3px;
	text-rendering: optimizelegibility;
}

#projects h3 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}

#projects h4 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}

header .sticky h2 span {
	font-size: 16px;
	letter-spacing: 0px;
	line-height: 16px;
	display: inline-block;
	text-align: left;
}

/**
 * header / intro
 */
header {
	position: relative;
	margin: auto;
	min-width: 900px;
  	max-width: 900px;
  	margin-top: -82px;
	top: 25%;
}

header h2 {
	display: block;
	text-align: center;
}


header hgroup {
  min-width: 900px;
  max-width: 900px;
}



/**
 * sticky header
 */
header .sticky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0;
	z-index: 50;
	height: 80px;
	padding: 10px 0 20px 0;
	background: #fff;
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 78%, rgba(255,255,255,0.64) 86%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(78%,rgba(255,255,255,1)), color-stop(86%,rgba(255,255,255,0.64)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 78%,rgba(255,255,255,0.64) 86%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 78%,rgba(255,255,255,0.64) 86%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 78%,rgba(255,255,255,0.64) 86%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 78%,rgba(255,255,255,0.64) 86%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

	overflow: hidden;

}

header .sticky h2 {
	/*background: rgba(247, 247,247, 0.9);*/
	color: rgba(144, 144, 144, 1)

}


/**
 * Intro: default;
 */
.intro h1,
.intro h1 a {
	color: rgba(144, 144, 144, 0.25);
	color: #e1e1e1;
}

.intro h2 {
	color: rgba(144, 144, 144, 0.25);
	color: #e1e1e1;
}

.intro span{
	color: rgba(144, 144, 144, 0);
	color: #e1e1e1;
	opacity: 0;
}


.intro a,
.intro a:link,
.intro a:visited {
	color: rgba(144, 144, 144, 0.25);
}

.intro a,
.intro a:hover,
.intro a:active {
	color: rgba(144, 144, 144, 0.5);
}


/**
 * Intro: colored effect;
 */
.intro.has-color h1 {
	color: rgba(34, 136, 207, 1);
}

.intro.has-color h2 {
	color: rgba(144, 144, 144, 1);
}

.intro.has-color span {
	color: rgba(144, 144, 144, 1);
	opacity: 1;
}


.intro.has-color a,
.intro.has-color a:link,
.intro.has-color a:visited {
	color: #2288cf;
	text-decoration: none;
}

.intro.has-color a:hover,
.intro.has-color a:active {
	color: #214ECF;
	text-decoration: none;
}



/**
* section contains all the projects
*/
#projects {

}

#projects h3 {
	display: inline-block;
	margin-left: 20px;
}

#projects h4 {
 	display: inline-block;
}

article {
	text-align: left;
	width: 900px;
	position: relative;
	left: 50%;
	margin-left: -450px;
	z-index: 5;
	margin-bottom: 80px;
	z-index: 2;
}


