/**
 * FILEDESCRIPTION
 *
 * Some guidelines to follow:
 *
 * 1. Break code down into sections, use @section, @subsection
 * 2. Keep your rules alphabetically sorted.
 * 3. Only put one selector per line for a block of rules that apply to multiple selectors.
 * 4. Indent your rules, only one rule per line.
 * 5. Keep proprietary properties directly below the proposed property.
 * 6. Comment your css. Especially hacks or tricky parts using cssdoc-comments
 *
 * @example:
 *
 * element#id,
 * element.class {
 * 	rule1: value;
 * 	-webkit-rule2: value;
 * 	-moz-rule2: value;
 * 	rule2: value;
 * 	top: value;
 * }
 *
 * @lastmodified	2012-01-24 18:00 martinkr
 *
 * @TODO
 *
 */

/**
* @section
*/


html,
body {
	/*height: 100%;*/
	background : #dfded4;

}
body {
	text-align: center;
	font-size: 16px;
	color: #000;
	line-height: 1.5;
	font-family: Georgia;
	border: 10px solid #fff;
	padding-bottom: 300px;
}

div.bottom {
	position: fixed;
	background: #fff;
	height: 10px;
	left:0;
	bottom: 0;
	width: 100%;
}

/** elements **/


a {
	-webkit-transition: all 0.25s ease-in;
}

a,
a:link,
a:visited,

.intro.has-color a,
.intro.has-color a:link,
.intro.has-color a:visited {
	color: #2288cf;
	text-decoration: none;
}

a:hover,
a:active,
.intro.has-color a:hover,
.intro.has-color a:active {
	color: #214ECF;
	text-decoration: none;
}


ul,li {display: inline-block;}


/**
 * headline colors
 */
h1 {
	color: #2288cf;
}

h2 {
	color: #909090;
}

header .sticky h2 {
 	color: #222;
}

/*#projects */h3 {
 	color: #2288cf;
}

/*#projects */h4 {
 	color: rgba(144, 144, 144, 1);
}

/**
 * typography
 */

h1 {
	font-family: 'Source Sans Pro';
	text-transform: uppercase;
 	font-size: 76px;
	line-height: 1.1;
	font-weight: 700;
 	letter-spacing: 3px;
	text-rendering: optimizelegibility;
}

h2 {
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	line-height: 1.1;
	font-size: 28px;
	letter-spacing: 1px;
	text-rendering: optimizelegibility;
}

#projects h3 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	font-weight: 400;
}

#projects h4 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}

header .sticky h2 span {
	font-size: 16px;
	letter-spacing: 0px;
	line-height: 16px;
	display: inline-block;
	text-align: left;
}

/**
 * header / intro
 */
header {
	position: relative;
	margin: auto;
	min-width: 900px;
  	max-width: 900px;
	margin-top: 200px
}

header h2 {
	display: block;
	text-align: center;
}


header hgroup {
  min-width: 900px;
  max-width: 900px;
}



/**
 * sticky header
 */
header .sticky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0;
	z-index: 50;
	height:45px;
	padding: 0px 0 20px 0;
	background: #fff;
 	overflow: hidden;

}

header .sticky h2 {
	/*background: rgba(247, 247,247, 0.9);*/
	color: rgba(144, 144, 144, 1)

}


/**
 * Intro: default;
 */
.intro h1,
.intro h1 span,
.intro h2 a {
	color: rgba(144, 144, 144, 0.35);

	opacity: 1;
}

.intro h2 {
	color: rgba(144, 144, 144, 0.25);

}

.intro span{
	color: rgba(144, 144, 144, 0);

	opacity: 0;
}


.intro a,
.intro a:link,
.intro a:visited,
nav.sticky a,
nav.sticky a:link,
nav.sticky a:visited {
	color: rgba(144, 144, 144, 0.35);
}

.intro a,
.intro a:hover,
.intro a:active ,
nav.sticky a,
nav.sticky a:hover,
nav.sticky a:active {
	color: rgba(144, 144, 144, 0.55);
}


/**
 * Intro: colored effect;
 */
.intro.has-color h1,
.intro.has-color h1 span {
	color: rgba(34, 136, 207, 1);
}

.intro.has-color h2 {
	color: rgba(144, 144, 144, 1);
}

.intro.has-color span {
	color: rgba(144, 144, 144, 1);
	opacity: 1;
}


.intro.has-color a,
.intro.has-color a:link,
.intro.has-color a:visited {
	color: #2288cf;
	text-decoration: none;
}

.intro.has-color a:hover,
.intro.has-color a:active {
	color: #214ECF;
	text-decoration: none;
}


nav li:after {
	content: ", ";
}


nav.sticky a {
	content: "";
	font-size: 13px;
}


/**
* section contains all the projects
*/
#projects {

}

#projects h3 {
	float: left;
	background: #fff;
	margin-left: 5px;
	padding: 5px 10px;
}

#projects h4 {
	margin-left: 5px;
	margin-top: 5px;
 	float: left;
 	clear: left;
 	background: #fff;
 	padding: 5px 10px
}

#projects {
	text-align: left;
	width: 900px;
	margin: 0 auto;
	margin-bottom: 80px;
}

#projects article {
	margin-bottom: 80px;
}

#projects li  {
	border: 1px solid #eee;
	margin: 4px;
}


/**
 * lettering
 */
.char2 {
	margin-left: -1px;
}
.char3 {
	margin-left: -1px;
}
.char4 {
	margin-left: -1px;
}
.char5 {
	margin-left: -1px;
}
.char6 {
	margin-left: -4px;
}

.char11 {
	margin-left: -4px;
	margin-right: -4px;
}

.char12 {
	margin-left: -5px;
}
.char13 {
	margin-left: -3px;
}

