/**
 * FILEDESCRIPTION
 *
 * Some guidelines to follow:
 *
 * 1. Break code down into sections, use @section, @subsection
 * 2. Keep your rules alphabetically sorted.
 * 3. Only put one selector per line for a block of rules that apply to multiple selectors.
 * 4. Indent your rules, only one rule per line.
 * 5. Keep proprietary properties directly below the proposed property.
 * 6. Comment your css. Especially hacks or tricky parts using cssdoc-comments
 *
 * @example:
 *
 * element#id,
 * element.class {
 * 	rule1: value;
 * 	-webkit-rule2: value;
 * 	-moz-rule2: value;
 * 	rule2: value;
 * 	top: value;
 * }
 *
 * @lastmodified	2012-01-24 18:00 martinkr
 *
 * @TODO
 *
 */

/**
* @section
*/


@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: local('Oswald Light'), local('Oswald-Light'), url(http://themes.googleusercontent.com/static/fonts/oswald/v7/HqHm7BVC_nzzTui2lzQTDbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(http://themes.googleusercontent.com/static/fonts/oswald/v7/qpy-UiLNKP-VfOdbcs6r6-vvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: local('Oswald Bold'), local('Oswald-Bold'), url(http://themes.googleusercontent.com/static/fonts/oswald/v7/bH7276GfdCjMjApa_dkG6bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}


html,
body {
	height: 100%;
	background : #dfded4;
}
body {
	text-align: center;
	font-size: 16px;
	color: #909090;
	line-height: 1.5;
	font-family: Georgia;
	margin-top: 10%;
}

header {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -216px;
	margin-top: -200px;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	line-height: 1.13 /*1.2*/;
	z-index: 1;
}


h1 {
	color: #2288cf;
	font-size: 60px;
	letter-spacing: 0.06em;
	font-weight: 700;
}

h2 {
	font-size: 25px;
	color: #909090;
	font-size: 24px;
	font-weight: 400;
	letter-spacing: 0.05em;
	font-family: 'Oswald', sans-serif;

}



a {
	-webkit-transition: all 0.25s ease-in;
}

a,
a:link,
a:visited {
	color: #2288cf;
	text-decoration: none;
}

a,
a:hover,
a:active {
	color: #214ECF;
	text-decoration: none;
}

ul,li {display: inline-block;}

/**
* section contains all the projects
*/
#projects {
 	position: absolute;
	top: 100%;
	background:#fff;
	border-top: 1px solid #909090;
	height: auto;
	width: 100%;
	left:0;
	overflow: hidden;
	z-index: 2;
}

#projects h2 {
	height: 50px;
 	width: 100%;
	background: #fff;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 400;

	z-index: 10;
	overflow: hidden;
	position: relative;
	-webkit-transition: box-shadow 0.35s ease-in;

	box-shadow: 0px 0px 0px rgba(90,90,90,0);
}

#projects h2.is-sticky {
	position:fixed;
	top: 0;
	height: 40px;
	box-shadow: 0px 0px 15px rgba(90,90,90,0.20);
}

#projects h2 .cta {
	-webkit-transition: all 0.35s ease-in;
	opacity: 1;
	position: absolute;
	top: 10px;
	left: 50%;
	width: 200px;
	margin-left: -100px;
	color: #2288cf;
	background: url('../../img/skin/cta.gif') 0 9px no-repeat;
	text-align: left;
	padding-left: 24px;

}

.is-moving .cta {
	opacity: 0;

	bottom: 50px;
}

.cta {
	position: fixed;
	bottom: 5px;
	left: 50%;
	display: block;
	width: 30px;
	height: 30px;
	font-size: 1.3em;
	font-weight: bold;
-webkit-transition: all 1s;

	border-radius: 100%;
	v-align: middle;

	cursor: pointer;
  -webkit-animation-duration: 3s;
    -webkit-animation-name: pulse;
	/*-webkit-animation: pulse 1s infinite cubic-bezier(0.6, 0, 0, 1);*/


  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.75);
-webkit-animation: pulse 1.3s infinite cubic-bezier(0.5, 0, 0, 1);
}
@-webkit-keyframes pulse {
  to {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1);
  }
}
#projects h2.is-sticky .cta {
	top: -40px;
}

#projects h2 .small {
	-webkit-transition: all 0.35s ease-in;
	position: absolute;
	bottom: -40px;

	color: #909090;
	background: url('../../img/skin/logo-bars.jpg') 0 3px no-repeat;
	padding-left: 44px;
	width: 900px;
	left: 50%;
	margin-left: -144px;
	text-align: left;
}

#projects h2.is-sticky .small {
	bottom: 5px;
}

#projects h2.is-sticky .small span {
	font-size: 14px;
}


#projects h3 {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	color: #2288cf;
	display: inline-block;
	margin-left: 20px;
}

#projects h4 {
 	display: inline-block;
		font-family: 'Oswald', sans-serif;
	font-weight: 400;
}

article {

	text-align: left;
	width: 900px;
	position: relative;
	left: 50%;
	margin-left: -450px;
	z-index: 5;
	margin-bottom: 80px;
	z-index: 2;
}

[data-layer] {
	cursor: pointer;
}

#layer {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background: #fff;
	display: none;
	z-index: 10000;
}

