/**
 * a simple skin
 */

/**
	background: rgba(144, 144, 144, 0.55) url("../../assets/imgs/bg-postbox.jpg") 50% 100% no-repeat;
	color: #CF4AA9;
	color: #6F9F33; postbox
	color: #5D5EB9;
	color: #A96CA5;

	color: #10FF47;
	color: #000;
	color: #222;
	color: #eee;
	color: #fff;
 */

/* colors */
body {
  font-family: "Roboto", "montserrat-bold-webfont", "Helvetica Neue", "Segoe UI",
    Ubuntu, Roboto, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.95);
  background: rgba(144, 144, 144, 0.55)
    url("../../assets/imgs/bg-sky-1920x1920-60.jpg") 50% center no-repeat;
  background-size: cover;
}

header {
  mix-blend-mode: screen;
  color: #cf4aa9;
}

h1 {
  color: #a96ca5;
}


h5 {
  mix-blend-mode:screen;
  opacity: 0.75;
   color: #cf4aa9;
}

a {
   transition: color 0.25s ease-in;
  -webkit-transition: color 0.25s ease-in;
}

a,
a:link,
a:visited {
  /*color: rgba(144, 144, 144, 1);*/
  color: #6f9f33;
}

a:hover,
a:active {
  color: #fff;
}

.list-publications a,
.list-publications a:link,
.list-publications a:visited {
  /*color: rgba(144, 144, 144, 1);*/
  color:#fff;
}

.list-publications a:hover,
.list-publications a:active {
  color: #6f9f33;
}

a {
   transition: color 0.25s ease-in;
  -webkit-transition: color 0.25s ease-in;
}

footer a,
footer a:link,
footer a:visited {
  color: #747474;
}
footer a:hover,
footer a:active {
  color: #fff;
}
article {
  background: linear-gradient(
    0deg,
    rgb(0 0 0 / 94%) 0%,
    rgba(255, 255, 255, 0) 40%
  );
}
