/**
 * Typography
 */

html,
body {
  font-smoothing: antialiased;
  font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  font-size: 8px;
  line-height: 8px;
}

body {
  text-transform: uppercase;
  font-size: 1.618rem;
}

h1 {
  font-size: 4.236em;
  line-height: 0.8;
  margin-bottom: 0.25rem;
  word-spacing: 8px;
}

h2 {
  font-size: 2.618em;
  line-height: 0.8;
  margin: 0;
  margin-bottom: 0.5rem;
  font-weight: bold;
  word-spacing: 6px;
  letter-spacing: 1.0px;
}

h3 {
  font-size: 1.5em;
  line-height: 0.8;
  margin: 0;
  margin-bottom: 0.75rem;
  font-weight: bold;
  word-spacing: 0px;
  letter-spacing: 0.6px;
}

h4 {
  font-size: 1.4em;
  line-height: 0.8;
  margin: 0;
  margin-bottom: 1.5rem;
  font-weight: bold;
  word-spacing: 0px;
  letter-spacing: 0.5px;
}

h5 {
  font-size: 1.2em;
  line-height: 0.8;
  margin: 0;
  margin-bottom: 0.5rem;
  font-weight: bold;
  word-spacing: 0px;
  letter-spacing: 0.5px;
   
}

.page-pulications h2{
  font-size: 2.11em;
  line-height: 0.8;
  margin: 0;
  margin-bottom: 0.5rem;
  font-weight: bold;
  word-spacing: 0px;
  letter-spacing: 1px;
}

nav {
  margin-bottom: 1rem;
}

footer {
  font-size: 12px;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: none;
}

@media screen and (min-width: 450px) and (max-width: 786px) {
  html,
  body {
    font-size: 2vw;
  }
}

@media screen and (min-width: 787px) {
  html,
  body {
    font-size: 16px;
  }
}
